*{
    margin: 0;
    padding: 0;
}

header{
    background-color: blue;
    height: 1080px;
}
main{
    height: 5700px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.logo{
    margin-left: 200px;
    display: flex;
}
.contact{
    background-color: white;
    color: black;
    padding: 18px 36px;
}

.images{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rect1,.rect3{
    flex-shrink: 2;
    width: 684px;
    height: 595px;
    padding-top: 80px;
}
.img-nav{
    display: flex;
    margin-top: -70px;
    flex-direction: row;
    justify-content: center;
    margin-left: 650px;
}
#arrow1{
    opacity: 0.5;
    transform: scaleX(-1);
    margin-right: 12px;
}

.ellipse{
    margin-top: 150px;
    text-align: center;
}

.main-content{
    height: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-h1{
    margin-bottom: 50px;
}
p{
    width: 365px;
}
p a{
    color: blue;
    margin: 0;
}
#margined{
    margin-top: 20px;
}
.about-us{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    margin-bottom: 400px;
    margin-right: 100px;
}

.services{
    margin-top: 100px;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
}
.wrap{
    display: flex;
    margin-top: 170px;
    flex-wrap: wrap;
}
.wrap div{
    margin-right: 50px;
}
#services3{
    margin-right: 0;
}